:root{
 --backgroundColorPrimary : black;
 --backgroundColorHeaderCover : rgb(3, 29, 62, 0.4);
 --backgroundColorSecondary: rgb(222, 237, 255);
 --bottomNavBarColor: rgb(0, 232, 163);
 --buttonTextColor:rgb(3, 29, 62, 0.4);
 --buttonBackColor:rgb(0, 232, 163);
 --textColorSecondary: rgb(0, 232, 163);
}


.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
  overflow: hidden;
  padding: 0px;
  margin: 0px;

}

.homeContainer{
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.sectionsHeaderText{
  padding: 10px;
  color: #1f1f1f;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;

}
/* ================= NavBar Container ============================ */

.headerBottom{
  height: 100px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}


.topNavContainer{
  background-color: var(--backgroundColorPrimary);
  color: white;
  text-align: end;
}
.topInnerContainer{
  display: flex;
  justify-content: end;
  align-items: center;
  padding:5px;
}
.topInnerContainer p {
  margin: 0px;
}
.navMainContainer{
  display: flex;
  justify-content: space-between;
}
nav{
  position: fixed;
  background-color: var(--backgroundColorPrimary);
  color: white;
  width: 100%;
  z-index: 4;
  border-bottom:  4px solid var(--bottomNavBarColor);

}
nav a{
  color: white;
  text-decoration: none;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  gap:20px;

}

.nav-items a {
  text-decoration: none;
  color: #00ffcc;
  transition: 0.3s;
  font-weight: 600;
  font-size: 24px;
}

.nav-items a:hover{
  content: '';
  height: 4px;
  color: #36a8ff;
}


.nav-items{
  display: flex;
  gap: 20px;
  position: relative;
}
/* ================= Mobile NavBar Container ============================ */


.mobileNavContainer{
  position: relative;
  visibility: hidden;

}
.mobileItems{
  display: none;
}
.mobileContainer{
  display: none;
}

.logoContainer a {
  color: #00ffcc;
  font-size: 24px;
}


/* ================= Header Container ============================ */

.headerContainer{
  background-color: rgb(21, 21, 21);
  background-image: url('../public/images/carimage.jpg');
  background-size: cover;
  position: relative;


}

.headerTextBtnsContainer{
  display: flex;
  flex-direction: column;
  animation: moveHeaderText 2s alternate;
}


header{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: start;
  z-index: 1;
  padding: 40px;
  height: 700px;

}

header img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  
}
.backgroundCover1{
  background-color: rgb(6, 6, 6, 0.9);
  /* background-image: linear-gradient(to left,  rgb(0, 111, 196,0.6), rgba(25, 36, 45)); */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  
 
}

.headerText{
  padding-top: 200px;
  background: -webkit-linear-gradient(#36a8ff 50%, #00ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 60px;

}

.subHeaderText{
  background: -webkit-linear-gradient(#36a8ff, #00ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  color: white;
}

.btnHeaderContainer{
  display: flex;
  gap: 10px;
  margin-top: 40px;

}
.btnHeaderContainer a{
  background-color: var(--buttonBackColor);
  color: #000;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  transition: 1s;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btnHeaderContainer a:hover{
  background-color: var(--buttonBackColor);
  color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}



.formContainer{
  z-index: 1;
  float: right;

}

/* form{
  height: 100%;
  display: flex;
  border-radius: 10px;
  margin: auto;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: white;
  text-align: center;

} */


form h5{
  font-weight: 600;

}
.headerBottom{
  z-index: 6;
  display: flex;
  justify-content: space-around;
  padding: 10px;

}
.headerBottom h3{
  color: rgb(0, 232, 163);


}

/* ================= Content Container ============================ */




/* ================= About Container ============================ */

.aboutContainer{
  margin: 40px auto;
  gap: 40px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  text-align: start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  font-size: 30px;

}

.aboutContent{
  text-align: center;
  line-height: 60px;
  font-weight: 400;
}


/* ================= Contact Container ============================ */
.titleBackgroundCover{
  background-color: rgba(12, 12, 12, 0.9);
  position: absolute;
  width: 100%;
  height: 30vh;
  z-index: 1;

}
.titleContainer h2  {
  z-index: 2;
 
}

.contactUsSection textarea{
  height: 200px;
  width: 100%;

}
.contactContainer{
  padding: 0px;
  height: fit-content;
  position: relative;
}

.contactUsSection{
  display: flex;

}

.contactSubmitBtn{
  background-color: var(--backgroundColorPrimary);
  color:rgb(255, 255, 255);
  border: 1px solid var(--buttonBackColor);
  padding: 8px;
  transition: 0.4s;
  width: 100%;
  margin: 80px auto;


}

/* ================= Photo Container ============================ */

.howWeWorkSection{
  background-color: #000;
  padding: 20px;

}

.photoContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;

}

.photoSection img {
  width: 250px;
  border: 1px solid #000;
  transition: 0.4s;
}
.photoSection img:hover {
  transform: scale(1.1);

}




.photoSection{

}

/* ================= Packages Card Container ============================ */

.backgroundCoverPackageCard{
  background-color: rgb(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: -1;
  border-radius: 8px;
}

.packageContainerMain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 10px;
  width: 100%;
  position: relative;

 
}
.packagesSection{
  width: 100%;
}
.packageCardTitle{
  margin: 40px;
  border-bottom: 1px solid #ffffff;
}
.packageCardMain{
  width: 400px;
  height: fit-content;
  position: relative;
  color: #fff;
  padding: 20px 0px;
  background-color: var(--backgroundColorPrimary);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
  border-radius: 8px;
  background-image: url('../public/images/car.jpg');
  background-size: cover;
  z-index: 1;

}



.packageCardBodyMain{
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  

}
.packageCardBody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;

}
.packageCardBody p {
  margin: 0px;
}
.packageHeaderText{
  font-size: 24px;
  font-weight: 600;
  
}

.openDetails{
  padding: 10px 0px;
}

.detail-line1{
  width: 10px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: 0.5s;
}
.detail-line2{
  width: 10px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  margin-top: -1px;
  margin-left: 1.5px;
}

.detail-line2.active{
  transform: rotateZ(-45deg);
}

.detail-line1.active{
  transform: rotateZ(45deg);
}

.learnMoreBtn{
  margin-top: 100px;
  border: 1px solid var(--buttonBackColor);
  background-color: var(--buttonBackColor);
  width: 200px;
  height: 40px;
  transition: 0.3s;
  color: #272727;
  font-weight: 700;
  
}
.learnMoreBtn:hover{
  background-color: var(--buttonBackColor);
  color: var(--buttonTextColor);
  color: #272727;
}


.serviceList{
}
.serviceList{
  display: none;
}

.serviceList.active{
  display: list-item;
  list-style: none;
  animation: animPackageCard 1s alternate;

}

.serviceList ul {
  list-style: none;
  padding: 10px 0px;
  color: #ffffff;
  margin: 0px;
}

.serviceList ul li{
  margin-top: 10px;
  list-style: none;
}

/* ================= Checkout Section ============================ */

.checkout{

}

.checkOutBtn{
  min-width: 250px;
  margin-top: 80px;
  background-color: black;
  color: white;
  padding: 5px 0px;
  border: none;

}

/* ================= Cart Section ============================ */

.cartContainer{
  height: fit-content;

}




/* ================= Cart Card Section ============================ */
.cartCardContainer{
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  position: relative;

}
.titleCartCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.titleCartCardContainer p {
  margin: 0px;
}
.cartCardImgContainer img{
  width: 200px;
}
.cartCardImgContainer{
  width: 100%;
  display: flex;
  text-align: start;
  gap: 20px;
}

.priceText{
  color: rgb(36, 36, 36);
  font-weight: 700;
  padding: 4px 10px;
  position: absolute;
  right: 0;
  
}
.removeItemBtn{
  background-color: transparent;
  border: none;
  color: red;
  font-weight: 500;
}
.cartCardBottom{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cartNavContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cartNavContainer p{
  border-radius: 80px;
  margin: 0px;


}

/* ================= Services Section ============================ */


.serviceTitle{
  margin-top: 80px;
  text-align: start;
}

.servicesContainer{
  height: fit-content;
  height: fit-content;
  color: #1a1a1a;
}
.serviceCardContainer{
  display: flex;
  flex-direction: column;
 
}

.servicesCardSection{
  text-align: left;
}

.servicesCardSection h3{
  font-weight: 700;
  font-size: 34px;

}

.serviceMenuItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.servicesContent{
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;;
  z-index: 3;
  border: 1px solid #9e9e9e;
  transition: 0.4s;
}

.servicesContent:hover{
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
  cursor: pointer;
}

.servicesContent h3{
  margin-top: 10px;
}

.servicesContent img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.fullInteriorContainer, .seatShampooContainer, .carpetshampooContainer, .BasicInOutContainer{
  height: 500px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
  color: rgb(28, 28, 28);
  position: relative;
  text-align: center;
  z-index: 0;
  
}

/* ================= Service Card Section ============================ */
.backgroundCover{
  background-color: rgb(0, 0, 0, 0.9);
  width: 100%;
  height: 165px;
  position: absolute;
  
}
.card{

  max-width: 260px;

}
.card img {
  width: 200px;
}
.card-title p {
  position: absolute;
  top: 130px;
  left: 20px;
  color: white;
  font-size: 20px;
}

.durationContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.durationContainer p {
  padding: 0px;
  margin: 0;
}

.bookBtn {
  background-color: black;
  color: white;
  text-decoration: none;

}

.bookAppointmentBtn{
  min-width: 250px;
  margin: 40px auto;

}

.servicesCardSection{
padding-top: 100px;
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: wrap;
gap: 20px;

}


/* ================= Book Appointment Container ============================ */


.bookingContainer{
  height: fit-content;
}

.bookTitleHeader{
  margin-top: 150px;
}
.vehicleItems{
  display: flex;

}



/* ================= Testimony Section ============================ */
.testimonyTitleContainer{
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: start;

}
.testimonyCustomerContainer{
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  border: #d1d1d1 1px solid;

}
.testimonyContainer p {
  margin: 0px;
  text-align: start;
}
.testimonyContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}
.customerStars{
  display: flex;
}
/* ================= Footer Section ============================ */

.footerContent{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

footer{
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: hsl(0, 0%, 0%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 100px;

}
footer form{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  margin: 40px auto;
  text-align: center;
  max-width: 400px;
  height: 40px;
  
}
footer button{
  background-color: transparent;
  border-top-right-radius: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.footerContent h3 {
  font-size: 40px;
  font-weight: 500;
}
.footerContent input{
  width: 100%;
}


/* ================= About Section ============================ */

.aboutPageMainContainer h4{
  font-size: 34px;
  margin-top: 140px;

}

.aboutPageContainer{

  max-width: 600px;
  margin: 100px auto;
}
.aboutText{
  text-align: center;
  padding: 0px 10px;
  font-size: 24px;
}


/* ================= Mobile Section ============================ */

@media screen and (max-width: 1200px){

  .aboutContainer {
    justify-content: center;
  }
  .aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}




@media screen and (max-width: 768px){
  .headerBottom h3{
    color: rgb(0, 232, 163);
    font-size: 12px;
  
  }

  .testimonyTitleContainer{
    text-align: center;
  }
  .testimonyCustomerContainer{
    text-align: center;
    display: flex;
    justify-content: center;
  }
.testimonyContainer{
  text-align: center;
}
  table thead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navContainer{
    display: none;
  }

  .mobileItems{
    width: 100%;
    background-color: var(--backgroundColorPrimary);
   

  }
  nav{
    background-color: var(--backgroundColorPrimary);
  }


  .mobileItems a {
    font-size: 40px;
    position: relative;
    
  }
  .mobileItems a:hover::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: #00ffcc;
    position: absolute;
    bottom: -5px;
    left: 10px;
    
  }

  .mobileItems a:hover{
    content: '';


  }

  .mobileItems.active{
    visibility: visible;
    display:list-item;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .mobileItems a:nth-child(1){
    animation: moveMobileNav 1.2s alternate;

  }
  .mobileItems a:nth-child(2){
    animation: moveMobileNav 1.4s alternate;

  }
  .mobileItems a:nth-child(3){
    animation: moveMobileNav 1.6s alternate;

  }
  .mobileItems a:nth-child(4){
    animation: moveMobileNav 1.8s alternate;

  }
  .hamburgerMenu .line.active:nth-child(1){
    transform: translateX(-20px);
  }
  .hamburgerMenu .line.active:nth-child(2){
    transform: translateX(-10px);
  }


  .mobileNavContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    
  }
  .mobileNavContainer p {
    padding: 0px 20px;
    justify-self: center;
    margin: 0px;
    color: #00ffcc;

  }
  .hamburgerMenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
  }
  
  .hamburgerMenu .line{
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  header{
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

  .sectionsHeaderText {
    font-size: 34px;
  }

  .btnHeaderContainer{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .navContainer{
    visibility: hidden;
  }

  .nav-items{
    display: none;
  }
  .topNavContainer{
    display: none;
  }
  .topInnerContainer{
    display: none;
  }

  .aboutContainer {
    justify-content: center;
  }
  .aboutContent{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}


@keyframes moveHeaderText {
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;

  }
}


@keyframes animPackageCard{

  0%{
   opacity: 0;
  }

  100%{
    opacity: 100%;
  }
  
}

@keyframes moveMobileNav {

  from{
    transform: translateX(-50px);
    opacity: 0;
  }

  to{
    transform: translateX(0px);
    opacity: 100%;

  }
  
}

@keyframes moveHeaderBottom{
  0%{
    transform: translateX(0px);

  }
  100%{
    transform: translateX(100px);


  }
}


@keyframes moveTouchText {
  0%{
    transform: translateY(-10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;

  }
  
}

@keyframes moveTitleText {

  from{
    transform: translateY(50px);
    opacity: 0;
  }

  to{
    transform: translateY(0px);
    opacity: 100%;

  }
  
}

@keyframes moveService {

  0%{
    transform: translateX(-1000px);
  }
  100%{
    transform: translateX(0px);

  }
  
}